:root {
    --logo-menu-height: 100px;
    --logo-width: 225px;
    --footer-height: 80px;

    --shadow:
        0 2px 23px 0 rgba(0, 0, 0, 0.1),
        0 2px 49px 0 rgba(0, 0, 0, 0.06);
}

* {
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

.app {
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: var(--logo-menu-height) 1fr var(--footer-height);
    grid-template-areas:
        "header"
        "content"
        "footer";
    height: 100vh;
}

header.header {
    grid-area: header;
}

footer.footer {
    grid-area: footer;
}