header.header {
    background-color: #FFF;
    display: grid;
    grid-template-columns: var(--logo-width) 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "logo menu";
    box-shadow: var(--shadow);
}

header nav.logo {
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

header nav.logo img {
    padding: 0px 15px;
    width: 100%;
}

header nav.menu {
    grid-area: menu;
    text-align: end;
    margin-top: 14px;
}

header nav.menu a {
    color: var(--color-font);
    display: inline-block;
    text-decoration: none;
    font-weight: 300;
    font-size: 1rem;
    padding: 15px;
}

div.dropdown {
    visibility: hidden;
}

header nav.menu a:hover {
    background: linear-gradient(135deg, #07A7E3 0%, #32DAC3 100%);
}

@media(max-width: 768px) {
    header nav.logo {
        margin-bottom: 0px;
        margin-top: 20px;
    }
    
    div.dropdown {
        top: -55px;
        margin-right: 5px;
        visibility: visible;
        grid-area: drop;
    }
    div.menuGrande {
        visibility: hidden;
    }

    header.header {
        display: grid;
        grid-template-columns: var(--logo-width) 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "logo drop";
        box-shadow: var(--shadow);
    }
}
